= content_for :cta_button do
  = link_to 'Take me there', root_url, class: 'mcnButton', style: 'font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;', target: '_blank', title: 'Take me there'

= content_for :title do
  = "Your organization has been approved"

= "Hey there,"
%br
%br
= "Congratulations, your organization has now been approved. Start using Launchboard now:"

