%center
  %table#bodyTable{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
    %tr
      %td#bodyCell{:align => "center", :valign => "top"}
        / BEGIN TEMPLATE //
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tr
            %td{:align => "center", :valign => "top"}
              / BEGIN PREHEADER //
              %table#templatePreheader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %td{:align => "center", :valign => "top"}
                    %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tr
                        %td.preheaderContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}
                          %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                            %tbody.mcnDividerBlockOuter
                              %tr
                                %td.mcnDividerBlockInner{:style => "min-width:100%; padding:18px;"}
                                  %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td
                                          %span
                                  /
                                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                                    <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                          %table.mcnImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                            %tbody.mcnImageBlockOuter
                              %tr
                                %td.mcnImageBlockInner{:style => "padding:9px", :valign => "top"}
                                  %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td.mcnImageContent{:style => "padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;", :valign => "top"}
                                          %img.mcnImage{:align => "center", :alt => "", :src => "https://gallery.mailchimp.com/798e4d8241195bbc430ad3543/images/fab9ad2f-29af-42b0-9927-09d5fdad4ad3.png", :style => "max-width:1024px; padding-bottom: 0; display: inline !important; vertical-align: bottom;", :width => "564"}/
              / // END PREHEADER
          %tr
            %td{:align => "center", :valign => "top"}
              / BEGIN HEADER //
              %table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %td{:align => "center", :style => "padding-top:20px; padding-bottom:20px;", :valign => "top"}
                    %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tr
                        %td{:align => "center", :height => "10", :valign => "top", :width => "10"}
                          %img{:height => "10", :src => "https://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/d4042106-8117-4b79-b76b-91f8d64c5dff.gif", :style => "display:block; line-height:0px;", :width => "10"}/
                        %td.headerRearBackground{:align => "center", :height => "10", :style => "opacity:0.5;", :valign => "top"}
                          %img.mcnImage{:height => "10", :src => "https://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/640a7ee0-db88-4905-a550-89e571c94697.png", :style => "display:block; line-height:0px;", :width => "580"}/
                        %td{:align => "center", :height => "10", :valign => "top", :width => "10"}
                          %img{:height => "10", :src => "https://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/d4042106-8117-4b79-b76b-91f8d64c5dff.gif", :style => "display:block; line-height:0px;", :width => "10"}/
                      %tr
                        %td{:align => "center", :colspan => "3", :valign => "top"}
                          %table.headerFrontBackground{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td{:align => "center", :valign => "top"}
                                / BEGIN HEADER //
                                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :id => "", :width => "100%"}
                                  %tr
                                    %td.headerContainer{:style => "padding-top:20px; padding-bottom:20px;", :valign => "top"}
                                      %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                        %tbody.mcnTextBlockOuter
                                          %tr
                                            %td.mcnTextBlockInner{:valign => "top"}
                                              %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                                                %tbody
                                                  %tr
                                                    %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}
                                                      %h1
                                                        %span{:style => "font-family:arial,helvetica neue,helvetica,sans-serif"} Welcome
                                      %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                        %tbody.mcnTextBlockOuter
                                          %tr
                                            %td.mcnTextBlockInner{:valign => "top"}
                                              %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                                                %tbody
                                                  %tr
                                                    %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}
                                                      %span{:style => "font-family:arial,helvetica neue,helvetica,sans-serif"}
                                                        = "You have been invited to join organization #{@organization.name} on Launchboard"
                                                        %br/
                                                        = "The organization access token is: #{@organization.access_token}"
                                                      %br/
                                      %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                        %tbody.mcnButtonBlockOuter
                                          %tr
                                            %td.mcnButtonBlockInner{:align => "center", :style => "padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;", :valign => "top"}
                                              %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border: 2px solid #F2F2F2;border-radius: 4px;background-color: #FFFFFF;"}
                                                %tbody
                                                  %tr
                                                    %td.mcnButtonContent{:align => "center", :style => "font-family: Arial; font-size: 16px; padding: 20px;", :valign => "middle"}
                                                      %a.mcnButton{:href => "https://golaunchboard.com/", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;", :target => "_blank", :title => "Register"} Register
                                / // END HEADER
              / // END HEADER
          %tr
            %td{:align => "center", :valign => "top"}
              / BEGIN BODY //
              %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %td{:align => "center", :valign => "top"}
                    %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tr
                        %td.bodyContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}
                          %table.mcnShareBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tbody.mcnShareBlockOuter
                              %tr
                                %td.mcnShareBlockInner{:style => "padding:9px", :valign => "top"}
                                  %table.mcnShareContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td{:align => "center", :style => "padding-top:0; padding-left:9px; padding-bottom:0; padding-right:9px;"}
                                          %table.mcnShareContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                            %tbody
                                              %tr
                                                %td.mcnShareContentItemContainer{:align => "center", :style => "padding-top:9px; padding-right:9px; padding-left:9px;", :valign => "top"}
                                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                    %tbody
                                                      %tr
                                                        %td{:align => "left", :valign => "top"}
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnShareContentItemContainer{:style => "padding-right:9px; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "*|FORWARD|*", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-forwardtofriend-48.png", :style => "display:block;", :width => "24"}/
                                                                                %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                                  %a{:href => "*|FORWARD|*", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;", :target => ""} Forward
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnShareContentItemContainer{:style => "padding-right:9px; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "http://twitter.com/intent/tweet?text=*|URL:MC_SUBJECT|*: *|URL:ARCHIVE_LINK_SHORT|*", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-twitter-48.png", :style => "display:block;", :width => "24"}/
                                                                                %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                                  %a{:href => "http://twitter.com/intent/tweet?text=*|URL:MC_SUBJECT|*: *|URL:ARCHIVE_LINK_SHORT|*", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;", :target => ""} Tweet
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnShareContentItemContainer{:style => "padding-right:9px; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "http://www.linkedin.com/shareArticle?url=*|URL:ARCHIVE_LINK_SHORT|*&mini=true&title=*|URL:MC_SUBJECT|*", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-linkedin-48.png", :style => "display:block;", :width => "24"}/
                                                                                %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                                  %a{:href => "http://www.linkedin.com/shareArticle?url=*|URL:ARCHIVE_LINK_SHORT|*&mini=true&title=*|URL:MC_SUBJECT|*", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;", :target => ""} Share
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnShareContentItemContainer{:style => "padding-right:9px; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "https://plus.google.com/share?url=*|URL:ARCHIVE_LINK_SHORT|*", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-googleplus-48.png", :style => "display:block;", :width => "24"}/
                                                                                %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                                  %a{:href => "https://plus.google.com/share?url=*|URL:ARCHIVE_LINK_SHORT|*", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;", :target => ""} +1
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnShareContentItemContainer{:style => "padding-right:9px; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "http://www.facebook.com/sharer/sharer.php?u=*|URL:ARCHIVE_LINK_SHORT|*", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-facebook-48.png", :style => "display:block;", :width => "24"}/
                                                                                %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                                  %a{:href => "http://www.facebook.com/sharer/sharer.php?u=*|URL:ARCHIVE_LINK_SHORT|*", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;", :target => ""} Share
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnShareContentItemContainer{:style => "padding-right:0; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnShareContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate; border-radius: 3px;", :width => ""}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnShareIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "https://www.pinterest.com/pin/find/?url=*|URL:ARCHIVE_LINK_SHORT|*", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-pinterest-48.png", :style => "display:block;", :width => "24"}/
                                                                                %td.mcnShareTextContent{:align => "left", :style => "padding-left:5px;", :valign => "middle"}
                                                                                  %a{:href => "https://www.pinterest.com/pin/find/?url=*|URL:ARCHIVE_LINK_SHORT|*", :style => "color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;", :target => ""} Pin
                          %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tbody.mcnTextBlockOuter
                              %tr
                                %td.mcnTextBlockInner{:valign => "top"}
                                  %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                                    %tbody
                                      %tr
                                        %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}
                                          %div{:style => "text-align: center;"}
                                            Want to know
                                            %a{:href => "https://www.golaunchboard.com", :target => "_blank"} more
                                            about LaunchBoard? 
                                            %br/
                                            %em Your digital suggestion box
                                            %span{:style => "color: #222222;font-family: arial,sans-serif;font-size: 16px;line-height: 19.2px;"} ™
              / // END BODY
          %tr
            %td{:align => "center", :style => "padding-bottom:40px;", :valign => "top"}
              / BEGIN FOOTER //
              %table#templateFooter{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %td{:align => "center", :valign => "top"}
                    %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tr
                        %td.footerContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}
                          %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                            %tbody.mcnDividerBlockOuter
                              %tr
                                %td.mcnDividerBlockInner{:style => "min-width:100%; padding:18px;"}
                                  %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-top-width: 1px;border-top-style: solid;border-top-color: #AAAAAA;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td
                                          %span
                                  /
                                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                                    <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                          %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tbody.mcnTextBlockOuter
                              %tr
                                %td.mcnTextBlockInner{:valign => "top"}
                                  %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                                    %tbody
                                      %tr
                                        %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}
                                          %em Copyright © 2015 Launchboard Inc., All rights reserved.
                                          %br/
                                          %br/
                                          %strong For any questions, partnership requests, or press, please contact:
                                          %br/
                                          accounts@golaunchboard.com 
                                          %br/
                                          %br/
                                          Want to change how you receive these emails?
                                          %br/
                                          You can
                                          %a{:href => "http://golaunchboard.com", :target => "_blank"} update your preferences
                                          = succeed "or" do
                                            %a{:href => "https://portfolio10.com/dashboard/settings", :target => "_blank"}
                                          %a{:href => "*|UNSUB|*"} unsubscribe from this list
                                          %br/
                                           
                          %table.mcnFollowBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tbody.mcnFollowBlockOuter
                              %tr
                                %td.mcnFollowBlockInner{:align => "center", :style => "padding:9px", :valign => "top"}
                                  %table.mcnFollowContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td{:align => "center", :style => "padding-left:9px;padding-right:9px;"}
                                          %table.mcnFollowContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                            %tbody
                                              %tr
                                                %td{:align => "center", :style => "padding-top:9px; padding-right:9px; padding-left:9px;", :valign => "top"}
                                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                    %tbody
                                                      %tr
                                                        %td{:valign => "top"}
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnFollowContentItemContainer{:style => "padding-right:10px; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnFollowIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "https://twitter.com/launchboard", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/dark-twitter-48.png", :style => "display:block;", :width => "24"}/
                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                            %tbody
                                                              %tr
                                                                %td.mcnFollowContentItemContainer{:style => "padding-right:0; padding-bottom:9px;", :valign => "top"}
                                                                  %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                                                    %tbody
                                                                      %tr
                                                                        %td{:align => "left", :style => "padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;", :valign => "middle"}
                                                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => ""}
                                                                            %tbody
                                                                              %tr
                                                                                %td.mcnFollowIconContent{:align => "center", :valign => "middle", :width => "24"}
                                                                                  %a{:href => "www.golaunchboard.com", :target => "_blank"}
                                                                                    %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/dark-link-48.png", :style => "display:block;", :width => "24"}/
              / // END FOOTER
        / // END TEMPLATE
