= content_for :cta_button do
  %a.mcnButton{:href => new_user_url(name: @organization.name, email: @email), :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;", :target => "_blank", :title => "Login now"} Complete Registration

= content_for :title do
  = "Launchboard Invite"

= "You have been invited by #{@sender.full_name} to #{@organization.name}."
