.col-xs-12
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .row.user_new
      .field.col-xs-6
        = f.label :username
        = f.text_field :username, class: "form-control", id: "register_username"
      .field.col-xs-6
        = f.label :email
        - if !params[:email].nil?
          = f.text_field :email, value: params[:email], class: "form-control", :readonly => "readonly"
        - else
          = f.text_field :email, class: "form-control"
      .field.col-xs-6
        = f.label :first_name
        = f.text_field :first_name, class: "form-control"
      .field.col-xs-6
        = f.label :last_name
        = f.text_field :last_name, class: "form-control"
      .field.col-xs-6
        = f.label :password
        = f.password_field :password, class: "form-control"
      .field.col-xs-6
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: "form-control"
    .row.user_new
      .field.col-xs-12
        = f.label :organization_name
        - if !params[:name].nil?
          = f.text_field :organization_name, value: params[:name], class: "form-control", :readonly => "readonly"
        - else
          = f.text_field :organization_name, class: "form-control"
      .field.col-xs-12
        = f.label :job_title
        = f.text_field :job_title, class: "form-control"
      .actions.col-xs-12
        = f.submit 'Register', class: 'btn btn-success'
