%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Crypted password:
  = @user.crypted_password
%p
  %b Password salt:
  = @user.password_salt
%p
  %b Persistence token:
  = @user.persistence_token
%p
  %b Role:
  = @user.role
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
