.feedback-messages
  - if flash[:notice]
    .alert.alert-info.alert-dismissible
      %button(type="button" class="close" data-dismiss="alert")
        %span(aria-hidden="true") &times;
        %span(class="sr-only")Close
      - if flash[:notice].instance_of? String
        = flash[:notice]
      - else
        = join_error_messages flash[:notice]

  - if flash[:alert]
    .alert.alert-warning.alert-dismissible
      %button(type="button" class="close" data-dismiss="alert")
        %span(aria-hidden="true") &times;
        %span(class="sr-only")Close
      - if flash[:alert].instance_of? String
        = flash[:alert]
      -else
        = join_error_messages flash[:alert]

  - if flash[:error]
    .alert.alert-danger.alert-dismissible
      %button(type="button" class="close" data-dismiss="alert")
        %span(aria-hidden="true") &times;
        %span(class="sr-only")Close
      - if flash[:error].instance_of? String
        = flash[:error]
      -else
        = join_error_messages flash[:error]
