#post-discussion.modal.fade
  .modal-dialog
    .modal-content{class: "#{@post.type?}"}
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          = @post.title
      .modal-body
        .row
          .col-xs-8
            = @post.content
          .col-xs-4
            = image_tag ("//placehold.it/140x100")
        %hr
        .row
          = form_for Comment.new, remote: true do |f|
            = f.hidden_field :commentable_id, :value => @post.id
            = f.hidden_field :commentable_type, :value => "Post"
            .field.col-xs-12
              = f.text_area :content, class: "form-control", placeholder: "Enter your comment here ...", rows: 3

            / .field.col-xs-12.text-right
            /   = check_box_tag("comment[anonymous]", "1", false, class: "checkbox")
            /   = label_tag :checkbox, "Remain Anonymous"
            .actions.col-xs-12.text-right
              = f.submit 'Post Plain Comment', class: "btn btn-main off", id: "comment_plain", :name =>"suggestion"
              = f.submit 'Post as Suggestion', class: "btn btn-main on", id: "comment_suggestion", :name =>"suggestion"
      .modal-footer
        .comment-sorts
          = link_to '#' do
            .btn.btn-sm.btn-main.on
              NEWEST
          = link_to '#' do
            .btn.btn-sm.btn-main.off
              MOST UPVOTED
        .comment-filters
          = link_to '#' do
            .btn.btn-sm.btn-main.on
              ALL
          = link_to '#' do
            .btn.btn-sm.btn-main.off
              PLAIN
          = link_to '#' do
            .btn.btn-sm.btn-main.off
              SUGGESTION
        .comments
          = sync_new partial: "card", resource: Comment.new
          - @post.comments.order("created_at DESc").each do |comment|
            = sync partial: "card", resource: comment

