#user_management.modal.fade
  .modal-dialog.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Manage Members
      .modal-body
        .col-xs-12
          .row
            .col-xs-12
              /%h4.bolded Add Members
              = form_tag fetch_users_department_entries_path(format: :js), id: 'fetch_de_users' , remote: true do
                .field
                  = label_tag 'Team'
                  .select-style
                    = select_tag "id", options_from_collection_for_select(current_organization.department_entries, "id", "department_name"), include_blank: 'Select department...', class: 'form-control', id: 'department_entry_id'

              = form_tag manage_users_organization_path(current_organization) do
                = hidden_field_tag 'department_entry_id'
                .field
                  = label_tag 'Add Members'
                  = text_area_tag 'invitee_list', nil, class: 'form-control', rows: 2, placeholder: 'Add by email. e.g. jsmith@example.com, jdoe@example.com'
                .field
                  = label_tag 'Current Members'
                  .member-list
                .field
                  = label_tag 'Add Decision Makers'
                  = text_area_tag 'admin_list', nil, class: 'form-control', rows: 2, placeholder: 'Add by email. e.g. jsmith@example.com, jdoe@example.com'
                .field
                  = label_tag 'Current Decision Makers'
                  .admin-list
                .field.modal-footer
                  .actions
                    = submit_tag 'Update', class: "btn btn-main pull-right"




          /.col-sm-6.col-xs-12
          /  .row
          /    .col-xs-12
          /      %h4.bolded Update Integrated Departments
          /      %p Your current plan allows up to #{Organization::DEP_LIMIT} departments.
          /      .organization_departments
          /        = render 'layouts/department_editor', context: current_organization
