#user_management.modal.fade
  .modal-dialog.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Manage Members
      .modal-body
        .col-xs-12
          .row
            .col-xs-12
              /%h4.bolded Add Members
              = form_tag manage_users_organization_path(current_organization) do
                .field
                  = label_tag 'Team'
                  .select-style
                    = select_tag "department_entry_id", options_from_collection_for_select(current_organization.department_entries, "id", "department_name"), class: 'form-control'
                .field
                  = label_tag 'Add Members'
                  = text_area_tag 'invitee_list', nil, class: 'form-control', rows: 2, placeholder: 'Add by email. Separate with commas or semi-colons. e.g. jsmith@example.com, jdoe@example.com'
                .field
                  = label_tag 'Current Members'
                  .member-list
                    .member
                      = image_tag 'profile-icon.png'
                      %span
                        Member Name
                      %span
                        /= link_to department_entry, method: :delete, data: { confirm: 'Are you sure you want to remove this member?' } do
                        ×
                .field
                  = label_tag 'Decision Makers'
                  = text_area_tag 'admin_list', nil, class: 'form-control', rows: 2, placeholder: 'Add by email. Separate with commas or semi-colons. e.g. jsmith@example.com, jdoe@example.com'
                .field.modal-footer
                  .actions
                    = submit_tag 'Update', class: "btn btn-main pull-right"
          /.col-sm-6.col-xs-12
          /  .row
          /    .col-xs-12
          /      %h4.bolded Update Integrated Departments
          /      %p Your current plan allows up to #{Organization::DEP_LIMIT} departments.
          /      .organization_departments
          /        = render 'layouts/department_editor', context: current_organization
