%section.header-19-sub
  .plane-1.loading
  .plane-2.loading-2
  .background
  /= image_tag 'launchplane-lg.png', class: 'hidden-xs'
  / %img.hidden-xs{:alt => "", :src => "../../common-files/img/header/ipad@2x.png"}/
  /= image_tag 'launchplane-lg.png', class: 'plane-static hidden-sm hidden-md hidden-lg hidden-xl'
  .container
    .row
      .col-sm-5

        %h1
          = "Reward Ideas"
          /%br
        %p
          %span
            A private platform for questions, thoughts, and concerns that's tailored to your businesses approach to culture.
          %br
          %br
          %span
            /Run internal campaigns that tap into great ideas, identify key contributors who create real value, and foster a culture of innovation.
            Employees share solutions to internal campaigns that tackle key issues such as improving customer experience, increasing revenue generation, reducing costs, and bettering morale.
        %br
        .btns
          %a.btn.btn-primary{href: '#feature-panel'}
            %span Learn more
%section.content-24#feature-panel

  .container
    .row.v-center
      .col-sm-5.col-sm-offset-1
        .features.features-clear
          .features-bodies
            .features-body.active
              %h6 Step 1
              %h3 Empower your workforce
              %p
                Integrate Launchboard into your existing processes within minutes, and watch as employees contribute ideas to key initiatives. Ideas are ready after gaining manager approval, and other team members can collaborate seamlessly.
              /%a.btn.btn-clear{:href => "features"} Learn More
      .col-sm-5
        = image_tag 'graphic-card.png', :class => 'image'
%section.content-24.alt
  .container
    .row.v-center
      .col-sm-5.col-sm-offset-1
        .features.features-clear
          .features-bodies
            .features-body.active
              %h6 Step 2
              %h3 Act on initiatives
              %p
                Start seeing real change and watch ideas as they move smoothly from approval to implementation. Remove barriers to success, increase communication and prevent great ideas from running out of steam.
              %br
      .col-sm-5
        = image_tag 'graphic-comments.png', :class => 'image'
%section.content-24
  .container
    .row.v-center
      .col-sm-5.col-sm-offset-1
        .features.features-clear
          .features-bodies
            .features-body.active
              %h6 Step 3
              %h3 Smarter management
              %p
                Powerful analytics get translated into an insightful dashboard that surfaces key data for results based management: important ideas, impactful employees, and high performing teams.
      .col-sm-5
        = image_tag 'graphic-analytics.png', :class => 'image'
-# %section.price-1#price
-#   .container
-#     %h3.row-title Convenient & Flexible Pricing
-#     .row.plans
-#       .col-sm-4.col-sm-offset-2
-#         .plan
-#           .header
-#             .title SMEs
-#             .price
-#               Starting at
-#               %span $2/month
-#           .description
-#             %b Unlimited
-#             accounts
-#             %br/
-#             %b Unlimited
-#             teams
-#             %br/
-#             %b 1 year flat rate
-#             special offer
-#             %br/
-#
-#           %a.btn.btn-primary{:href => "#", data: {toggle: 'modal', target: '#register'}} Sign Up
-#       .col-sm-4
-#         .plan
-#           .header
-#             .title Large Enterprise
-#             .price Custom Quote
-#           .description
-#             %b Unlimited
-#             accounts
-#             %br/
-#             %b Unlimited
-#             teams
-#             %br/
-#             %b 1 year
-#             special offer
-#             %br/
-#             %b Premium
-#             customer support
-#           %a.btn.btn-primary{:href => "mailto:clinton@golaunchboard.com"} Contact Us
%section.price-1#price
  .container
    %h3.row-title See Launchboard in action
    .row.plans
      .col-sm-6.col-sm-offset-3
        .plan
          .header
            .title Included Features
            /.price Custom Quote
          .description
            %b Manageable
            Accounts
            %br/
            %b Flexible
            Teams & roles
            %br/
            %b Private
            Communication
            %br
            %b Secure
            File storage
            %br/
            %b Detailed
            Analytics reports
            %br/
            %b Premium
            Customer support
          %a.btn.btn-primary{:href => "mailto:clinton@golaunchboard.com?subject=Book%Demo&body=Hello%Im%interested%in%booking%a%personal%demo%of%launchboard"} Request Demo
%footer.footer-1
  .background
  .container
    .row
      .col-sm-5
        %p.lead Helping companies foster innovation.
        © Launchboard Inc. 2016. All rights reserved.
        .social-btns
          %a.social-btn-angellist{:href => "https://twitter.com/launchboard", :target => "_blank"}
            .fa.fa-twitter
            .fa.fa-twitter
      %nav
        .col-sm-2.col-sm-offset-1
          %h6
            %b About
          %ul
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "mailto:clinton@golaunchboard.com"} Contact
        .col-sm-2
          %h6
            %b Product
          %ul
            %li
              %a{:href => "#feature-panel"} Features
            %li
              %a{:href => "#price"} Price
      .col-sm-2.buy-btn
        /%a.btn.btn-success.btn-block{:href => "#", data: {toggle: 'modal', target: '#register'}} Sign Up
        %a.btn.btn-success.btn-block{:href => "mailto:clinton@golaunchboard.com?subject=Book%Demo&body=Hello%Im%interested%in%booking%a%personal%demo%of%launchboard"} Request Demo
        or
        %a{:href => "#", data: {toggle: 'modal', target: '#login'}}
          %span Log In
    .row
      .col-sm-5.additional-links
        %a{:href => "privacy"} Privacy Policy
        %a{:href => "terms"} Terms of Service
= javascript_include_tag 'scrollreveal.min.js'
:javascript
  window.sr = ScrollReveal({reset: true});
  sr.reveal('.header-10');
  sr.reveal('.header-14-sub');
  sr.reveal('.header-19-sub .container');
  sr.reveal('.content-24');
  sr.reveal('.price-1');
  sr.reveal('.footer-1');
