%section.header-19-sub
  .plane-1.loading
  .plane-2.loading-2
  .background
  /= image_tag 'launchplane-lg.png', class: 'hidden-xs'
  / %img.hidden-xs{:alt => "", :src => "../../common-files/img/header/ipad@2x.png"}/
  /= image_tag 'launchplane-lg.png', class: 'plane-static hidden-sm hidden-md hidden-lg hidden-xl'
  .container
    .row
      .col-sm-5

        %h1
          = "Reward Ideas"
          /%br
        %p A private platform for questions, thoughts, and concerns that help focus on what matters. Tap into great ideas, identify key contributors who create real value, and foster a culture of innovation.
        /%p A private platform for questions, thoughts, and concerns that help focus on what matters.
        %br
        .btns
          %a.btn.btn-primary{href: '#feature-panel'}
            %span Learn more
%section.content-24#feature-panel

  .container
    .row.v-center
      .col-sm-5.col-sm-offset-1
        .features.features-clear
          .features-bodies
            .features-body.active
              %h6 Step 1
              %h3 It starts with a spark
              %p
                Members create a post around whatever is on their mind, and pending approval it is viewable to an audience for voting.
                %br/
                The poster remains anonymous until the votes are in, which helps eliminate any decision bias.
              /%a.btn.btn-clear{:href => "features"} Learn More
      .col-sm-5
        = image_tag 'graphic-card.png', :class => 'image'
%section.content-24.alt
  .container
    .row.v-center
      .col-sm-5.col-sm-offset-1
        .features.features-clear
          .features-bodies
            .features-body.active
              %h6 Step 2
              %h3 Initiatives take flight
              %p
                Majority audience support advances important posts, with contributor ideas sent to a decision maker for approval & timeline setting.
      .col-sm-5
        = image_tag 'graphic-comments.png', :class => 'image'
%section.content-24
  .container
    .row.v-center
      .col-sm-5.col-sm-offset-1
        .features.features-clear
          .features-bodies
            .features-body.active
              %h6 Step 3
              %h3 Ideas spring into Action
              %p
                Efficiently monitor ideas from inception to reality. You can easily see what initiatives are in launch stage, keep track of everyone via a leaderboard & analytics, and feel comfort knowing that your information is kept secure.
      .col-sm-5
        = image_tag 'graphic-analytics.png', :class => 'image'
%section.price-1#price
  .container
    %h3.row-title Convenient & Flexible Pricing
    .row.plans
      .col-sm-4.col-sm-offset-2
        .plan
          .header
            .title SMEs
            .price
              Starting at
              %span $5/month
          .description
            %b 500
            accounts
            %br/
            %b 5
            Core Teams
            %br/
            %b 1 year
            special offer
            %br/

          %a.btn.btn-primary{:href => "#", data: {toggle: 'modal', target: '#register'}} Sign Up
      .col-sm-4
        .plan
          .header
            .title Large Enterprise
            .price Custom Quote
          .description
            %b Unlimited
            accounts
            %br/
            %b Unlimited
            Core Teams
            %b 1 year
            special offer
            %br/
            %br/
            %b Premium
            customer support
          %a.btn.btn-primary{:href => "mailto:clinton@golaunchboard.com"} Contact Us
%footer.footer-1
  .background
  .container
    .row
      .col-sm-5
        %p.lead Helping companies foster innovation.
        © Launchboard Inc. 2016. All rights reserved.
        .social-btns
          %a.social-btn-angellist{:href => "https://twitter.com/launchboard", :target => "_blank"}
            .fa.fa-twitter
            .fa.fa-twitter
      %nav
        .col-sm-2.col-sm-offset-1
          %h6
            %b About
          %ul
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "mailto:clinton@golaunchboard.com"} Contact
        .col-sm-2
          %h6
            %b Product
          %ul
            %li
              %a{:href => "#feature-panel"} Features
            %li
              %a{:href => "#price"} Price
      .col-sm-2.buy-btn
        %a.btn.btn-success.btn-block{:href => "#", data: {toggle: 'modal', target: '#register'}} Sign Up
        or
        %a{:href => "#", data: {toggle: 'modal', target: '#login'}}
          %span Log In
    .row
      .col-sm-5.additional-links
        %a{:href => "privacy"} Privacy Policy
        %a{:href => "terms"} Terms of Service
= javascript_include_tag 'scrollreveal.min.js'
:javascript
  window.sr = ScrollReveal({reset: true});
  sr.reveal('.header-10');
  sr.reveal('.header-19-sub .container');
  sr.reveal('.content-24');
  sr.reveal('.price-1');
  sr.reveal('.footer-1');
