.summary

  %ul.nav.nav-pills
    %li.active
      %a{href: "#organization-summary", data: {toggle: "tab"}}
        .fa.fa-building
        Organization Summary
    %li
      %a{href: "#personnel-summary", data: {toggle: "tab"}}
        .fa.fa-users
        Personnel Summary

  .tab-content
    #organization-summary.tab-pane.fade.in.active
      .col-xs-6
        %h4
          Number of Activities (<b>Week</b>/Month/Total):
          <b>#{@organization.activity_count}</b>/#{@organization.activity_count}/#{@organization.activity_count}
        %h4
          Number of Posts (<b>W</b>/M/T):
          <b>#{@organization.posts.count}</b>/#{@organization.posts.count}/#{@organization.posts.count}
        %h4
          Number of Comments (<b>W</b>/M/T):
          <b>#{@organization.comments.count}</b>/#{@organization.comments.count}/#{@organization.comments.count}
      .col-xs-6
        %h4
          Number of Doits (<b>Week</b>/Month/Total):
          <b>#{@organization.doit_count}</b>/#{@organization.doit_count}/#{@organization.doit_count}
        %h4
          Doits Generated from Posts (<b>W</b>/M/T):
          <b>#{@organization.doit_post_count}</b>/#{@organization.doit_post_count}/#{@organization.doit_post_count}
        %h4
          Doits Generated from Suggestions (<b>W</b>/M/T):
          <b>#{@organization.doit_comment_count}</b>/#{@organization.doit_comment_count}/#{@organization.doit_comment_count}

      %canvas#org-graph-canvas{height: "400px", width: "1100px"}

    #personnel-summary.tab-pane.fade
      .col-xs-12
        %h4
          Number of Personnels:
          %b 69
        %h4
          Top Performers this week:
          %b John Doe, Jason Smith
        %h4
          Bottom Performers this week:
          %b Aaron Joe, Buzz Light

        .btn.btn-main
          Generate Invite Email

        %hr

        %table#personnel-table.table.table-striped.display{cellspacing: "0", width: "100%"}
          %thead.text-center
            %th Username
            %th First Name
            %th Last Name
            %th Job Title
            %th # Posts (<u>W</u>/M/T)
            %th # Comments (<u>W</u>/M/T)
            %th Contribution (<u>T</u>/+ve/-ve)
            %th Impact (<u>+ve</u>/-ve/T)
          %tbody.text-center
            - @users.each do |user|
              %tr
                %td= user.username
                %td= user.first_name
                %td= user.last_name
                %td= user.job_title
                %td
                  (<b>#{user.posts.count}</b>/#{user.posts.count}/#{user.posts.count})
                %td
                  (<b>#{user.comments.count}</b>/#{user.comments.count}/#{user.comments.count})
                %td
                  (<b>#{user.contribution['total']}</b>/#{user.contribution['positive']}/#{user.contribution['negative']})
                %td
                  (<b>#{user.impact['positive']}</b>/#{user.impact['negative']}/#{user.impact['total']})

