= javascript_include_tag 'util/analytics_d3'

.summary
  #analytics-carousel.carousel.slide{"data-ride" => "carousel"}
    %ul.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#analytics-carousel"}
        .headline Contributions
        .subline by Department
      %li{"data-slide-to" => "1", "data-target" => "#analytics-carousel"}
        .headline Contributions
        .subline by Employee
      %li{"data-slide-to" => "2", "data-target" => "#analytics-carousel"}
        .headline Trending Ideas
        .subline in the Pipline
      %li{"data-slide-to" => "3", "data-target" => "#analytics-carousel"}
        .headline Approved Ideas
        .subline launched Actionables
      %li{"data-slide-to" => "4", "data-target" => "#analytics-carousel"}
        .headline Detailed Trends
        .subline on Idea Generation
      %li.no-hover
        %p
          From:
          %b July 02, 2015
          %span.fa.fa-edit
        %p
          To:
          %b July 08, 2015
          %span.fa.fa-edit
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item.active
        .col-xs-12.col-sm-6
          .summary-box
            .header Top Departments
            .body
              - @contributions_by_department[0..5].each do |entry|
                .col-xs-4
                  .summary-card
                    .main-content
                      = entry['# Ideas Actionable']
                    .notes
                      ideas actionable
                      %br
                      out of #{entry['# Ideas Total']} ideas
                    .footer
                      = entry['Department']
        .col-xs-12.col-sm-6
          .summary-box
            .header Department Contributions
            .body
              #contributions_by_department_graph.d3_graph
      .item
        .col-xs-12.col-sm-6
          .summary-box
            .header Top Contributors
            .body
              - @contributions_by_employee[0..5].each do |entry|
                .col-xs-4
                  .summary-card
                    .main-content
                      - user = User.find(entry['user_id'])
                      - if !user || user.picture.nil?
                        = image_tag("profile_default.png")
                      - else
                        = image_tag user.picture.image.url(:user_image)
                    .notes
                      = entry['# Ideas Actionable']
                      ideas actionable
                      %br
                      out of #{entry['# Ideas Total']} ideas
                    .footer
                      = entry['Name']
        .col-xs-12.col-sm-6
          .summary-box
            .header Employee Contributions
            .body
              #contributions_by_employee_graph.d3_graph
      .item
        .col-xs-12.col-sm-6
          .summary-box
            .header Trending Ideas
            .body
              - @trending_ideas[0..5].each do |entry|
                .col-xs-4
                  .summary-card
                    .main-content
                    .notes.post
                      %b= entry['Title']
                      %br
                      (#{entry['Support']}% Support)
                    .footer
                      = entry['Name']
        .col-xs-12.col-sm-6
          .summary-box
            .header Chart
            .body
              #trending_ideas_graph.d3_graph
      .item
        .col-xs-12.col-sm-6
          .summary-box
            .header Approved Ideas
            .body
              - @approved_ideas[0..5].each do |entry|
                .col-xs-4
                  .summary-card
                    .main-content
                    .notes.post
                      %b= entry['Title']
                      %br
                      (#{entry['Support']}% Support)
                    .footer
                      = entry['Poster']
        .col-xs-12.col-sm-6
          .summary-box
            .header Chart
            .body
              #approved_ideas_graph.d3_graph
      .item
        .col-xs-12.col-sm-6
          .summary-box
            .header Overview
            .body
              .col-xs-4
                .summary-card
                  .main-content
                    30
                  .notes
                    Total Number of
                  .footer
                    Ideas Actionable
              .col-xs-4
                .summary-card
                  .main-content
                    80
                  .notes
                    Total Number of
                  .footer
                    Ideas Total
              .col-xs-4
                .summary-card
                  .main-content
                    10
                  .notes
                    Total Number of
                  .footer
                    Ideas Approved
              .col-xs-4
                .summary-card
                  .main-content
                    286
                  .notes
                    Total Number of
                  .footer
                    Comments
              .col-xs-4
                .summary-card
                  .main-content
                    520
                  .notes
                    Total Number of
                  .footer
                    Votes
              .col-xs-4
                .summary-card
                  .main-content
                    25
                  .notes
                    Total Number of
                  .footer
                    Users
        .col-xs-12.col-sm-6
          .summary-box
            .header Chart
            .body
              #detailed_trends_graph.d3_graph

    -#   %table#personnel-table.table.table-striped.display{cellspacing: "0", width: "100%"}
    -#     %thead.text-center
    -#       %th Username
    -#       %th First Name
    -#       %th Last Name
    -#       %th Job Title
    -#       %th # Posts
    -#       %th # Comments
    -#       / %th # Doits
    -#       %th Opinions Given (<u>Total</u>/+/-)
    -#       %th Opinions Received (<u>+</u>/-/Total)
    -#     %tbody.text-center
    -#       - @users.each do |user|
    -#         %tr
    -#           %td= user.username
    -#           %td= user.first_name
    -#           %td= user.last_name
    -#           %td= user.job_title
    -#           %td
    -#             #{user.posts.count}
    -#           %td
    -#             #{user.comments.count}
    -#           / %td
    -#            #{user.posts.all_doits.count + user.comments.all_doits.count}
    -#           %td
    -#             (<b>#{user.contributions['total']}</b>/#{user.contributions['positive']}/#{user.contributions['negative']})
    -#           %td
    -#             (<b>#{user.impact['positive']}</b>/#{user.impact['negative']}/#{user.impact['total']})

