.summary

  %ul.nav.nav-pills
    %li
      %a{href: "#organization-summary", data: {toggle: "tab"}}
        .fa.fa-building
        Organization Summary
    %li.active
      %a{href: "#personnel-summary", data: {toggle: "tab"}}
        .fa.fa-users
        Personnel Summary
    - if can? :update, @organization
      %li
        = link_to '#', data: {target: "#edit-org", toggle: "modal"} do
          Edit Org
    - if can? :update, current_user
      %li
        = link_to '#', data: {target: "#edit-user", toggle: "modal"} do
          Edit user
          
          


  .tab-content
    #organization-summary.tab-pane.fade
      .col-xs-6
        %h4
          Number of Activities (<b>Week</b>/Month/Total):
          <b>#{@organization.activity_count}</b>/-/-
        %h4
          Number of Posts (<b>W</b>/M/T):
          <b>#{@organization.posts.count}</b>/-/-
        %h4
          Number of Comments (<b>W</b>/M/T):
          <b>#{@organization.comments.count}</b>/-/-
      .col-xs-6
        %h4
          Number of Doits (<b>Week</b>/Month/Total):
          <b>#{@organization.doit_count}</b>/-/-
        %h4
          Doits Generated from Posts (<b>W</b>/M/T):
          <b>#{@organization.doit_post_count}</b>/-/-
        %h4
          Doits Generated from Suggestions (<b>W</b>/M/T):
          <b>#{@organization.doit_comment_count}</b>/-/-

      .graph-wrapper
        .graph-overlay
          %h1 Not Enough Data Points
        %canvas.org-graph-canvas{height: "400px", width: "1100px"}

    #personnel-summary.tab-pane.fade.in.active
      .col-xs-12
        %h4
          Number of Personnels:
          %b 69
        %h4
          Top Performers this week:
          %b= @sorted_users[0..2].map{|x| x.full_name} * ', '
        %h4
          Bottom Performers this week:
          %b= @sorted_users[-3..-1].reverse.map{|x| x.full_name} * ', '

        .btn.btn-main
          Generate Invite Email

        %hr

        %table#personnel-table.table.table-striped.display{cellspacing: "0", width: "100%"}
          %thead.text-center
            %th Username
            %th First Name
            %th Last Name
            %th Job Title
            %th # Posts (<u>W</u>/M/T)
            %th # Comments (<u>W</u>/M/T)
            %th Contribution (<u>T</u>/+ve/-ve)
            %th Impact (<u>+ve</u>/-ve/T)
          %tbody.text-center
            - @users.each do |user|
              %tr
                %td= user.username
                %td= user.first_name
                %td= user.last_name
                %td= user.job_title
                %td
                  (<b>#{user.posts.count}</b>/-/-)
                %td
                  (<b>#{user.comments.count}</b>/-/-)
                %td
                  (<b>#{user.contribution['total']}</b>/#{user.contribution['positive']}/#{user.contribution['negative']})
                %td
                  (<b>#{user.impact['positive']}</b>/#{user.impact['negative']}/#{user.impact['total']})

= content_for :popups do

  = render 'edit_org'
  = render 'edit_user'