= javascript_include_tag 'util/analytics_d3'

.summary
  #analytics-carousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
    %ul.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#analytics-carousel"}
        .headline
          %i.fa.fa-trophy.fa-lg
        /.subline by Department
      %li{"data-slide-to" => "1", "data-target" => "#analytics-carousel"}
        .headline
          %i.fa.fa-user-plus.fa-lg
        /.subline by Employee
      %li{"data-slide-to" => "2", "data-target" => "#analytics-carousel"}
        .headline
          %i.fa.fa-line-chart.fa-lg
        /.subline in the Pipline
      %li{"data-slide-to" => "3", "data-target" => "#analytics-carousel"}
        .headline
          %i.fa.fa-chevron-up.fa-lg
        /.subline launched Actionables
      %li{"data-slide-to" => "4", "data-target" => "#analytics-carousel"}
        .headline
          %i.fa.fa-lightbulb-o.fa-lg
        /.subline on Idea Generation
    %ul.date-indicator
      = form_tag '#', method: :get do
        %li
          %span From
        %li.date-select
          .input-group.input-daterange{"data-provide" => "datepicker"}
            = text_field_tag 'date_from', (Date.today-1.year).strftime('%m/%d/%Y'), {class: 'form-control date-filter'}
            / %input.form-control{:type => "text", :value => Date.today-1.month}
            %span.input-group-addon to
            = text_field_tag 'date_to', Date.today.strftime('%m/%d/%Y'), {class: 'form-control date-filter'}
        %li
          = submit_tag "↺", class: 'btn btn-accent'
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item.active
        .row.first-q
          .col-sm-12
            .summary-box
              .header Top Teams
              .body.row
                - @contributions_by_department[0..5].each do |entry|
                  .col-sm-2
                    .summary-card
                      .title
                        = entry['Department']
                      .main-content
                        = entry['# Ideas Actionable']
                        /:escaped
                        /  /
                        /#{entry['# Ideas Total']}
                      .notes
                        Viable Ideas
                      /.footer
                      /  = entry['Department']

          .col-sm-12
            .summary-box
              .header Team Contributions
              .body
                #contributions_by_department_graph.d3_graph
                /%canvas#myChart1{:height => "50%", :width => "100%"}
                /:javascript
                /  var ctx = document.getElementById("myChart1");
                /  var data = {
                /      datasets: [{
                /          data: [
                /              11,
                /              16,
                /              7,
                /              3,
                /              14
                /          ],
                /          backgroundColor: [
                /              "#FF6384",
                /              "#4BC0C0",
                /              "#FFCE56",
                /              "#E7E9ED",
                /              "#36A2EB"
                /          ],
                /          label: 'My dataset' // for legend
                /      }],
                /      labels: [
                /          "Red",
                /          "Green",
                /          "Yellow",
                /          "Grey",
                /          "Blue"
                /      ]
                /  };
                /  var myChart1 = new Chart(ctx, {
                /      data: data,
                /      type: 'polarArea',
                /      options: {
                /        scales: {
                /            yAxes: [{
                /                ticks: {
                /                    beginAtZero:true
                /                }
                /            }]
                /        }
                /      }
                /  });
        .row
          .analytics_data_table_wrapper
            %table.analytics_data_table.table.table-striped.display{cellspacing: "0", width: "100%"}
              %thead.text-center
                %th Team
                %th Viable Ideas
                %th Total Ideas
                %th Approved Ideas
                %th Total Comments
                %th Total Votes
                %th Total Users
              %tbody.text-center
                - @contributions_by_department.each do |entry|
                  %tr
                    %td= entry['Department']
                    %td= entry['# Ideas Actionable']
                    %td= entry['# Ideas Total']
                    %td= entry['# Ideas Approved']
                    %td= entry['# of Comments']
                    %td= entry['# of Votes']
                    %td= entry['# of Users']
      .item
        .row.first-q
          .col-sm-12
            .summary-box
              .header Top Contributors
              .body.row
                - @contributions_by_employee[0..5].each do |entry|
                  .col-sm-2
                    .summary-card
                      .title
                        - user = User.find(entry['user_id'])
                        - if !user || user.picture.nil?
                          = image_tag("profile-icon.png")
                        - else
                          = image_tag user.picture.image.url(:user_image)
                        %p
                          = entry['Name']
                      .main-content.xs
                        = entry['# Ideas Actionable']
                        :escaped
                          /
                        #{entry['# Ideas Total']}
                      .notes
                        Viable/Total
          .col-sm-12
            .summary-box
              .header Employee Contributions
              .body
                #contributions_by_employee_graph.d3_graph
                /%canvas#myChart2{:height => "50%", :width => "100%"}
                /:javascript
                /  var ctx = document.getElementById("myChart2");
                /  var myChart2 = new Chart(ctx, {
                /      type: 'bar',
                /      data: {
                /          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                /          datasets: [{
                /              label: '# of Votes',
                /              data: [12, 19, 3, 5, 2, 3],
                /              backgroundColor: [
                /                  "#FF6384",
                /                  "#4BC0C0",
                /                  "#FFCE56",
                /                  "#E7E9ED",
                /                  "#36A2EB"
                /              ]
                /          }]
                /      },
                /      options: {
                /          scales: {
                /              yAxes: [{
                /                  ticks: {
                /                      beginAtZero:true
                /                  }
                /              }]
                /          }
                /      }
                /  });
        .row
          .col-xs-12.analytics_data_table_wrapper
            %table.analytics_data_table.table.table-striped.display{cellspacing: "0", width: "100%"}
              %thead.text-center
                %th Name
                %th Score
                %th Viable Ideas
                %th Total Ideas
                %th Approved Ideas
                %th Comments Received
                %th Comments Given
                %th Votes Received
                %th Votes Given
              %tbody.text-center
                - @contributions_by_employee.each do |entry|
                  %tr
                    %td= entry['Name']
                    %td
                      = (1.0 * entry['# Ideas Actionable'] + 0.5 * entry['# Ideas Approved'] + 0.2 * (entry['# of Comments Received'] + entry['# of Comments Given']) + 0.1 * (entry['# of Votes Received'] + entry['# of Votes Given'])).round(1)
                    %td= entry['# Ideas Actionable']
                    %td= entry['# Ideas Total']
                    %td= entry['# Ideas Approved']
                    %td= entry['# of Comments Received']
                    %td= entry['# of Comments Given']
                    %td= entry['# of Votes Received']
                    %td= entry['# of Votes Given']
      .item
        .row.first-q
          .col-sm-12
            .summary-box
              .header Trending Ideas
              .body.row
                - @trending_ideas[0..5].each do |entry|
                  .col-sm-2
                    .summary-card
                      .title
                        = entry['Title']
                      .main-content.sm
                        #{entry['Support']}%
                      .notes
                        Support
                      /.footer
                      /  = entry['Title']
          .col-sm-12
            .summary-box
              .header Chart
              .body
                #trending_ideas_graph.d3_graph
                /%canvas#myChart3{:height => "50%", :width => "100%"}
                /:javascript
                /  var ctx = document.getElementById("myChart3");
                /  var myChart3 = new Chart(ctx, {
                /      type: 'bar',
                /      data: {
                /          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                /          datasets: [{
                /              label: '# of Votes',
                /              data: [12, 19, 3, 5, 2, 3],
                /              backgroundColor: [
                /                  "#FF6384",
                /                  "#4BC0C0",
                /                  "#FFCE56",
                /                  "#E7E9ED",
                /                  "#36A2EB"
                /              ]
                /          }]
                /      },
                /      options: {
                /          scales: {
                /              yAxes: [{
                /                  ticks: {
                /                      beginAtZero:true
                /                  }
                /              }]
                /          }
                /      }
                /  });
        .row
          .col-xs-12.analytics_data_table_wrapper
            %table.analytics_data_table.table.table-striped.display{cellspacing: "0", width: "100%"}
              %thead.text-center
                %th Poster
                %th Title
                %th Support
                %th Total Comments
                %th Total Votes
              %tbody.text-center
                - @trending_ideas.each do |entry|
                  %tr
                    %td= entry['Poster']
                    %td= entry['Title']
                    %td #{entry['Support']}%
                    %td= entry['# of Comments']
                    %td= entry['# of Votes']
      .item
        .row.first-q
          .col-sm-12
            .summary-box
              .header Approved Ideas
              .body.row
                - @approved_ideas[0..5].each do |entry|
                  .col-sm-2
                    .summary-card
                      .title
                        = entry['Title']
                      .notes.post
                        -#%br
                        %span= entry['Poster']
                      .main-content.sm
                        #{entry['Support']}%
                      .notes
                        Support

          .col-sm-12
            .summary-box
              .header Chart
              .body
                #approved_ideas_graph.d3_graph
                /%canvas#myChart4{:height => "50%", :width => "100%"}
                /:javascript
                /  var ctx = document.getElementById("myChart4");
                /  var myChart4 = new Chart(ctx, {
                /      type: 'bar',
                /      data: {
                /          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                /          datasets: [{
                /              label: '# of Votes',
                /              data: [12, 19, 3, 5, 2, 3],
                /              backgroundColor: [
                /                  "#FF6384",
                /                  "#4BC0C0",
                /                  "#FFCE56",
                /                  "#E7E9ED",
                /                  "#36A2EB"
                /              ]
                /          }]
                /      },
                /      options: {
                /          scales: {
                /              yAxes: [{
                /                  ticks: {
                /                      beginAtZero:true
                /                  }
                /              }]
                /          }
                /      }
                /  });
        .row
          .col-xs-12.analytics_data_table_wrapper
            %table.analytics_data_table.table.table-striped.display{cellspacing: "0", width: "100%"}
              %thead.text-center
                %th Poster
                %th Title
                %th Support
                %th Total Comments
                %th Total Votes
              %tbody.text-center
                - @approved_ideas.each do |entry|
                  %tr
                    %td= entry['Poster']
                    %td= entry['Title']
                    %td #{entry['Support']}%
                    %td= entry['# of Comments']
                    %td= entry['# of Votes']
      .item
        .row.first-q
          .col-sm-12
            .summary-box
              .header Insights
              .body.row
                .col-sm-2
                  .summary-card
                    .main-content
                      = @stat_overview[:num_actionables]
                    /.notes
                    /  Total Number of
                    .footer
                      Viable Ideas
                .col-sm-2
                  .summary-card
                    .main-content
                      = @stat_overview[:num_total_ideas]
                    /.notes
                    /  Total Number of
                    .footer
                      Total Ideas
                .col-sm-2
                  .summary-card
                    .main-content
                      = @stat_overview[:num_approved]
                    /.notes
                    /  Total Number of
                    .footer
                      Approved Ideas
                .col-sm-2
                  .summary-card
                    .main-content
                      = @stat_overview[:num_comments]
                    /.notes
                    /  Total Number of
                    .footer
                      Total Comments
                .col-sm-2
                  .summary-card
                    .main-content
                      = @stat_overview[:num_votes]
                    /.notes
                    /  Total Number of
                    .footer
                      Total Votes
                .col-sm-2
                  .summary-card
                    .main-content
                      = @stat_overview[:num_users]
                    /.notes
                    /  Total Number of
                    .footer
                      Total Users
          .col-sm-12
            .summary-box
              .header Chart
              .body.row
                .graph_cover
                  Not Enough Data
                #detailed_trends_graph.d3_graph
                /%canvas#myChart5{:height => "50%", :width => "100%"}
                /:javascript
                /  var ctx = document.getElementById("myChart5");
                /  var myChart5 = new Chart(ctx, {
                /      type: 'line',
                /      data: {
                /          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                /          datasets: [{
                /              label: '# of Votes',
                /              data: [12, 19, 3, 5, 2, 3],
                /              backgroundColor: [
                /                  "#FF6384",
                /                  "#4BC0C0",
                /                  "#FFCE56",
                /                  "#E7E9ED",
                /                  "#36A2EB"
                /              ]
                /          }]
                /      },
                /      options: {
                /          scales: {
                /              yAxes: [{
                /                  ticks: {
                /                      beginAtZero:true
                /                  }
                /              }]
                /          }
                /      }
                /  });



    -#   %table#personnel-table.table.table-striped.display{cellspacing: "0", width: "100%"}
    -#     %thead.text-center
    -#       %th Username
    -#       %th First Name
    -#       %th Last Name
    -#       %th Job Title
    -#       %th # Posts
    -#       %th # Comments
    -#       / %th # Doits
    -#       %th Opinions Given (<u>Total</u>/+/-)
    -#       %th Opinions Received (<u>+</u>/-/Total)
    -#     %tbody.text-center
    -#       - @users.each do |user|
    -#         %tr
    -#           %td= user.username
    -#           %td= user.first_name
    -#           %td= user.last_name
    -#           %td= user.job_title
    -#           %td
    -#             #{user.posts.count}
    -#           %td
    -#             #{user.comments.count}
    -#           / %td
    -#            #{user.posts.all_doits.count + user.comments.all_doits.count}
    -#           %td
    -#             (<b>#{user.contributions['total']}</b>/#{user.contributions['positive']}/#{user.contributions['negative']})
    -#           %td
    -#             (<b>#{user.impact['positive']}</b>/#{user.impact['negative']}/#{user.impact['total']})
