%h1 Listing projects

%table
  %tr
    %th Name
    %th Access code
    %th Threshold
    %th Organization
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.access_code
      %td= project.threshold
      %td= project.organization_id
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
