%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Access code:
  = @project.access_code
%p
  %b Threshold:
  = @project.threshold
%p
  %b Organization:
  = @project.organization_id

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
