- user = post.user
- class_type = "work" if post.post_type == Post::WORK
- class_type = "play" if post.post_type == Post::PLAY
- class_type = "facility" if post.post_type == Post::FACILITY

.post-wrapper.col-xs-12.col-sm-6
  .post{class: class_type}
    .header
      = post.title
      .traction{class: ("doit" if post.doit?)}
        - if post.doit?
          DOIT
          %span.flaticon-check6
        - else
          DOIT?
        #{post.traction} / #{post.threshold}
        .tags
          .btn.btn-sm.btn-on{class: "btn-#{class_type}"}
            %span.flaticon-go
          .btn.btn-sm.btn-off{class: "btn-#{class_type}"}
            %span.flaticon-go1

    .content
      .row
        .col-xs-8
          = post.content
        .col-xs-4
          = image_tag("//placehold.it/140x110")

    .signature
      .user
        = image_tag("//placehold.it/35x35")
        .name
          = user.full_name
          %br
          (#{user.username})
      .options
        = link_to '#' do
          .btn.btn-sm{class: "btn-#{class_type}"}
            %span.flaticon-edit7
        - if post.graveyard
          = link_to '#' do
            .btn.btn-sm{class: "btn-#{class_type}"}
              %span.flaticon-unlock
        - else
          = link_to '#' do
            .btn.btn-sm{class: "btn-#{class_type}"}
              %span.flaticon-lock9
        = link_to '#' do
          .btn.btn-sm{class: "btn-#{class_type}"}
            %span.flaticon-trash7

        .divider

        = link_to '#', data: {target: "#post-discussion", toggle: "modal"} do
          .btn.btn-sm{class: "btn-#{class_type}"}
            %span.flaticon-speech29
        = link_to '#' do
          .btn.btn-sm.btn-off{class: "btn-#{class_type}"}
            %span.flaticon-star6


