#edit-post.modal.fade
  .modal-dialog.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          Edit Post
      .slide-1
        = form_for @post, :html => { multipart: true },remote: true do |f|
          = hidden_field_tag 'viewmode', @viewmode
          .modal-body
            .field.col-xs-12
              = f.label :title
              = f.text_field :title, class: "form-control"
            .field.col-xs-12
              = f.label 'Description'
              = f.text_area :content, class: "form-control", placeholder: "Enter description here ...", rows: 3, maxlength: 250
            /.field.col-xs-12
            /  = f.label 'Deadline'
            /  .input-group.date
            /    %input.form-control{:type => "text"}
            /    %span.input-group-addon
            /      %i.fa.fa-calendar
            /  :javascript
            /    $('.input-group.date').datepicker({
            /        clearBtn: true,
            /        todayHighlight: true
            /    });
            .field.col-xs-12.nested_pics_form.row
              .col-sm-6
                = f.label "Edit Images"
                .dropzone
                  - @post.pictures.each do |pic|
                    .col-sm-12{class: "pic_#{pic.id}"}
                      - @filename = pic.image(:url)
                      - @filename = @filename.split("?").first
                      - @filename = @filename.split("/").last
                      = @filename
                      = "  "
                      = link_to "x", "/pictures/#{pic.id}", method: :delete,remote: true, class: "delete_pic"
                  = file_field_tag "images[]",type: :file, multiple: true
              .col-sm-6
                = f.label "Edit Proposals"
                .dropzone
                  - @post.pictures.each do |pic|
                    .col-sm-12{class: "pic_#{pic.id}"}
                      - @filename = pic.image(:url)
                  - @post.assets.each do |asset|
                    .row{class: "asset_#{asset.id}"}
                      - @filename = asset.image(:url)
                      - @filename = @filename.split("?").first
                      - @filename = @filename.split("/").last
                      = @filename
                      = "  "
                      = link_to "x", "/assets/#{pic.id}", method: :delete,remote: true, class: "delete_pic"
                  = file_field_tag "files[]",type: :file, multiple: true
            /.field.col-xs-12.nested_pics_form
            /  = f.label "Add Images"
            /  = file_field_tag "images[]",type: :file, multiple: true
            .field.col-xs-12
              = f.label 'Teams', class: "col-xs-12"
              = render 'layouts/department_selector', context: @post, department_entries: current_organization.department_entries
            .field.col-xs-12
              %p Posts are anonymous by default. Identity is revealed when a post is approved.
              - if can? :update, current_organization
                = f.label 'Post Anonymously'
                = f.check_box :anonymous
          .modal-footer
            .actions
              = f.submit 'Save', class: "btn btn-main"
