#edit-post.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          Edit Post
      .slide-1
        = form_for @post, :html => { multipart: true },remote: true do |f|
          = hidden_field_tag 'viewmode', @viewmode
          .modal-body.row
            .field.col-xs-12
              = f.label :title
              = f.text_field :title, class: "form-control"
            .field.col-xs-12.nested_pics_form
              .col-xs-12
                = f.label "Remove Images"
              - @post.pictures.each do |pic|
                .col-xs-12{class: "pic_#{pic.id}"}
                  - @filename = pic.image(:url)
                  - @filename = @filename.split("?").first
                  - @filename = @filename.split("/").last
                  = @filename
                  = "  "
                  = link_to "x", "/pictures/#{pic.id}", method: :delete,remote: true, class: "delete_pic"
            .field.col-xs-12.nested_pics_form
              = f.label "Add Images"
              = file_field_tag "images[]",type: :file, multiple: true
            .field.col-xs-12
              = render 'layouts/department_selector', context: @post, departments: current_organization.departments
            .field.col-xs-12
              = f.label :content
              = f.text_area :content, class: "form-control", placeholder: "Enter post content here ...", rows: 5, maxlength: 250
            .field.col-xs-12
              %i Posts are by default anonymous, and the poster identity is always revealed when a post becomes a doit action item.
              - if can? :update, current_organization
                = f.label 'Post as Anonymous'
                = f.check_box :anonymous
          .modal-footer
            .actions
              = f.submit 'Save', class: "btn btn-main"
