%h2
  = @organization.name

  - if can? :update, @organization
    = link_to edit_organization_path(@organization) do
      .fa.fa-edit

- if can? :manage, @organization
  - if @organization.access_token != nil
    %h5
      %b Access code:
      = @organization.access_token

  = link_to generate_code_organization_path(@organization),:confirm => 'Token Expires in 1 min' do
    .btn.btn-sm.btn-success
      Generate New Code

%hr

%h3
  Projects
= link_to 'Create New Project', new_project_path(organization_id: @organization.id), class: "btn btn-success"
%br
%br
- if @organization.projects.empty?
  This organization doesn't have any projects yet.
- else
  - @organization.projects.each do |project|
    = render "projects/card", project: project
