%p#notice= notice

%p
  %b Name:
  = @organization.name
%p
  %b Access code:
  = @organization.access_code

= link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
