
- user = User.first
- class_type = comment.commentable.type?

- if can? :read, comment
  .comment-wrapper
    .comment{class: "inline_comment_#{comment.id} suggestion_#{comment.suggestion}"}
      .col-xs-8
        .content
          = comment.content
      .col-xs-4
        .traction
          %h4{class: ("doit" if false)}
            #{comment.opinion} / #{comment.commentable.threshold}
          .indicator
            - if comment.doit?
              = image_tag "doit.png"
        .controls
          - if comment.is_suggestion?
            - opinion = Opinion.where(opinionable_type: "Comment", opinionable_id: comment.id, user_id: current_user.id).first
            = form_for Opinion.new, remote: true do |f|
              = f.hidden_field :positive, value: 'true'
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :opinionable_id, value: comment.id
              = f.hidden_field :opinionable_type, value: 'Comment'
              .btn.btn-sm.btn-like{class: "btn-#{class_type} #{(opinion && opinion.positive) ? 'btn-on' : 'btn-off'}"}
                %span.flaticon-thumbs7
              .btn.btn-sm.btn-dislike{class: "btn-#{class_type} #{(opinion && !opinion.positive) ? 'btn-on' : 'btn-off'}"}
                %span.flaticon-thumbs8
      .signature
        .user
          - if comment.doit?
            = image_tag("profile_default.png")
            .name
              %b= user.full_name
              %br
              (#{user.job_title})
          - else
            = image_tag("profile_default.png")
            .name
              Anonymous User
              %br
              (Contributor)
        .options
          - if can? :update, comment
            = link_to edit_comment_path(comment), remote: true do
              .btn.btn-sm{class: "btn-#{class_type}"}
                %span.flaticon-edit7
          - if can? :destroy, comment
            = link_to comment, method: :delete, data: { confirm: "Are you sure about this?"}, remote: true do
              .btn.btn-sm{class: "btn-#{class_type}"}
                %span.flaticon-delete48
