%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    #filter-posts.option.filter
      .text{style: "float:left;"}
        ALL
      %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      = link_to "ALL",dashboard_path(:sort=>@sort,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"filter-post-all"
    %li
      = link_to "WORK",dashboard_path(:query => "0",:sort=>@sort,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"filter-post-work"
    %li
      = link_to "PLAY",dashboard_path(:query => "1",:sort=>@sort,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"filter-post-play"
    %li
      = link_to "FACILITY",dashboard_path(:query => "2",:sort=>@sort,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"filter-post-facility"
    %li
      = link_to "DOIT",dashboard_path(:query => "doit",:sort=>@sort,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"filter-post-doit"
%li.dropdown
  .circle.new-post-number.col-xs-1
    -if current_user
      - if current_user.is_admin?
        = sync_new partial: "notification", resource: Post.new
      - else
        = sync_new partial: "notification", resource: Post.new, scope: current_organization, resource: Post.new
    %p.number
    
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    #sort-posts.option
      .text{style: "float:left;"}
        NEWEST
      %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      = link_to "NEWEST",dashboard_path(:sort => "newest",:query=>@query,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"sort-post-newest"
    %li
      = link_to "MOST  DISCUSSED",dashboard_path(:sort => "discussed",:query=>@query,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"sort-post-updated"
    %li
      = link_to "MOST UPVOTED",dashboard_path(:sort => "upvoted",:query=>@query,:page=>@page),remote: (request.path =="/dashboard"),class: "body-loading", :id =>"sort-post-updated"
