%nav.navbar.navbar-default
  .container
    .navbar-header
      / %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button"}
      /   %span.sr-only Toggle navigation
      /   %span.icon-bar
      /   %span.icon-bar
      /   %span.icon-bar

      .navbar-brand.hidden-xs.hidden-sm
        / = image_tag "pindoit_logo.png"
        / = image_tag "pindoit_logo.png"
        - if @organization.nil? || @organization.picture.nil?
          = image_tag "logo.png"
        - else
          = image_tag @organization.picture.image.url(:organization_image)

    #navbar-right.pull-right.nav-right
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          / %li.divider-vertical
          %li
            = form_tag search_path, class: "form-inline", remote: (request.path == '/search'), :method => :get do
              .form-group
                .col-xs-10
                  .input-group
                    = text_field_tag :query, params[:query], class: "form-control", id: "search", placeholder: "search ..."
                    / %input#search.form-control{:placeholder => "search ...", :type => "text"}
                .col-xs-2.no-padding
                  %button.btn.btn-main{:type => "submit"}
                    .fa.fa-search
          %li.dropdown.hidden-xs
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %span.flaticon-three115
              / %span.flaticon-black56
              .fa.fa-gear
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              - if can? :update, current_user
                %li
                  = link_to '#', data: {target: "#edit-user", toggle: "modal"} do
                    Edit User Profile
              - if can? :update, current_organization
                %li
                  = link_to '#', data: {target: "#edit-org", toggle: "modal"} do
                    Edit Organization
                %li
                  = link_to generate_code_organization_path(current_organization), data: {:confirm => 'This will send you the invite email, invitation token will expire in 24 hours.'} do
                    Generate Invite Email
          %li.dropdown.hidden-xs
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              .fa.fa-bell
              %span.caret
            %ul.dropdown-menu.notification{:role => "menu"}
              .new
                = sync_new partial: 'notification', resource: PublicActivity::Activity.new, scope:current_user
              - @notifications = current_user.notifications
              - @notifications.each do |n|
                - activity = n.activity
                = sync partial: 'notification', resource: activity

          %li.hidden-xs
            = link_to "Logout", :logout
        - else
          / %li.divider-vertical
          %li
            = link_to '#', data: {target: "#register", toggle: "modal"} do
              Register
          / %li.divider-vertical
          %li
            = link_to '#', data: {target: "#login", toggle: "modal"} do
              Log In

    #navbar-dropdown.pull-left.nav-left
      %ul.nav.navbar-nav.filter-sort
        = render 'layouts/filter_sort'

      / #search.search.search-open
      /   %form
      /     %input#search.search-input{:name => "search", :placeholder => "Enter your search term...", :type => "search", :value => ""}/
      /     %input.search-submit{:type => "submit", :value => ""}/
      /     %span.sb-icon-search
      /       .fa.fa-search
