%nav.navbar.navbar-default
  .navbar-brand
    %a.logo.xs{:href => "/"}
      = image_tag "lb-logo.png"
    %a.logo.sm{:href => "/"}
      = image_tag "launchplane.png"
    / %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button"}
    /   %span.sr-only Toggle navigation
    /   %span.icon-bar
    /   %span.icon-bar
    /   %span.icon-bar

    / .navbar-brand.hidden-xs.hidden-sm
    /   / = image_tag "pindoit_logo.png"
    /   / = image_tag "pindoit_logo.png"
    /   - if @organization.nil? || @organization.picture.nil?
    /     = image_tag "logo.png"
    /   - else
    /     = image_tag @organization.picture.image.url(:organization_image)
  .pull-left.nav-left
    %ul.nav.navbar-nav.filter-sort
      = render 'layouts/filter_sort'
      %li.hidden-xs
        = form_tag search_path, class: "form-inline", remote: (request.path == '/search'), :method => :get do
          .form-group
            .input-group
              = text_field_tag :query, params[:query], class: "form-control", id: "search", placeholder: "Search by title"
              / %input#search.form-control{:placeholder => "search ...", :type => "text"}
            / .col-xs-2.no-padding
            /   %button.btn.btn-main{:type => "submit"}
            /    .fa.fa-search
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          .profile
            %span
            = image_tag "dropdown-icon.png", class: "drop-icon"
        %ul.dropdown-menu.filter-menu{:role => "menu"}
          %li
            = render 'pages/department_nav'
      / %li.page_title.hidden-xs
      /   %h3= @page_title

  #navbar-right.pull-right.nav-right
    %ul.nav.navbar-nav
      - if current_user
        / %li.divider-vertical
        /%li.navicon
        /  = link_to dashboard_path, class: "body-loading popover-trigger" , data: {content: "Alerts", placement: "bottom", trigger: "hover"} do
        /    = image_tag "check-icon.png"
        /    #idea_counter.notification_counter.blue
        /      = current_user.notifications.count
        /%li.navicon.dropdown
        /  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        /    = image_tag "check-icon.png"
        /    #idea_counter.notification_counter.blue
        /      = current_user.notifications.count
        /  %ul.dropdown-menu.notification{:role => "menu"}
        /    = sync_new partial: 'notification', resource: PublicActivity::Activity.new, scope:current_user
        /    - @notifications = current_user.notifications.order(created_at: :desc)
        /    - @notifications[0,10].each do |n|
        /      - activity = n.activity
        /      = sync partial: 'notification', resource: activity
        %li.navicon
          = link_to dashboard_path(:dashboard_page => "dashboard"), class: "body-loading popover-trigger" , data: {content: "Ideas", placement: "bottom", trigger: "hover"} do
            = image_tag "bulb-icon.png", class: "bulb"
            #idea_counter.notification_counter.yellow
              = current_organization_posts('idea_posts').count
        %li.navicon
          = link_to dashboard_path(:dashboard_page => "pending"),  class: "body-loading popover-trigger", data: {content: "Pending", placement: "bottom", trigger: "hover"} do
            = image_tag "list-icon.png"
            #pending_counter.notification_counter.orange
              = current_organization_posts('pending_posts').count
        %li.navicon
          = link_to dashboard_path(:dashboard_page => "doit"),  class: "body-loading popover-trigger wide", data: {content: "Launched", placement: "bottom", trigger: "hover"} do
            = image_tag "launched-icon.png"
            #pending_counter.notification_counter.red
              = current_organization_posts('launched_posts').count
        %li.navicon
          = link_to dashboard_path(:dashboard_page => "following"),  class: "body-loading popover-trigger", data: {content: "Votes", placement: "bottom", trigger: "hover"} do
            = image_tag "vote-icon.png", class: "vote"
            #pending_counter.notification_counter.blue
              = current_organization_posts('following_posts').count

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            .profile
              - if !current_user || current_user.picture.nil?
                = image_tag ("profile-icon.png"), class: "profile-img"
              - else
                = image_tag current_user.picture.image.url(:user_image)
              %span
                #{current_user.first_name}
              = image_tag "dropdown-icon.png", class: "drop-icon"

          %ul.dropdown-menu{:role => "menu"}
            - if can? :update, current_user
              %li
                = link_to '#', data: {target: "#edit-user", toggle: "modal"} do
                  %i.fa.fa-toggle-on
                  &nbsp;
                  Account
            - if can? :update, current_organization
              %li
                = link_to '#', data: {target: "#edit-org", toggle: "modal"} do
                  %i.fa.fa-sitemap
                  &nbsp;
                  Organization
              %li
                = link_to '#', data: {target: "#dept_management", toggle: "modal"} do
                  %i.fa.fa-users
                  &nbsp;
                  Teams
              %li
                = link_to manage_users_organization_path(current_organization), remote: true do
                  %i.fa.fa-user
                  &nbsp;
                  Members
            - if can? :update, current_user
              %li
                = link_to '#', data: {target: "#notification-settings", toggle: "modal"} do
                  %i.fa.fa-rss
                  &nbsp;
                  Alert Settings
              %li
                = link_to :summary do
                  %i.fa.fa-pie-chart
                  &nbsp;
                  Analytics
              %li
                = link_to '#' do
                  %i.fa.fa-hourglass-2
                  &nbsp;
                  History
              / %li
              /   = link_to :newsfeed do
              /     Leaderboard
              %li
                = link_to dashboard_path(:dashboard_page => "archive"), class: "body-loading" do
                  %i.fa.fa-archive
                  &nbsp;
                  Archive
              %li
                = link_to :logout do
                  %i.fa.fa-sign-out
                  &nbsp;
                  Logout
        -#%li.dropdown.hidden-xs
          -#%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            -#.fa.fa-bell
            -#%span.caret
          %ul.dropdown-menu.notification{:role => "menu"}
            = sync_new partial: 'notification', resource: PublicActivity::Activity.new, scope:current_user
            - @notifications = current_user.notifications.order(created_at: :desc)
            - @notifications[0,10].each do |n|
              - activity = n.activity
              = sync partial: 'notification', resource: activity
        /%li.hidden-xs
        /  = link_to :logout do
        /    Logout
      - else
        / %li.divider-vertical
        %li
          = link_to '#', data: {target: "#register", toggle: "modal"} do
            Register
        / %li.divider-vertical
        %li
          = link_to '#', data: {target: "#login", toggle: "modal"} do
            Log In
