%nav.navbar.navbar-default
  .container
    .navbar-header
      / %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button"}
      /   %span.sr-only Toggle navigation
      /   %span.icon-bar
      /   %span.icon-bar
      /   %span.icon-bar

      / .navbar-brand.hidden-xs.hidden-sm
      /   / = image_tag "pindoit_logo.png"
      /   / = image_tag "pindoit_logo.png"
      /   - if @organization.nil? || @organization.picture.nil?
      /     = image_tag "logo.png"
      /   - else
      /     = image_tag @organization.picture.image.url(:organization_image)

    #navbar-right.pull-right.nav-right
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          / %li.divider-vertical
          %li.profile
            %span
              Welcome, #{current_user.first_name}
            - if !current_user || current_user.picture.nil?
              = image_tag("profile_default.png")
            - else
              = image_tag current_user.picture.image.url(:user_image)
          %li.dropdown.hidden-xs
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %span.flaticon-three115
              / %span.flaticon-black56
              .fa.fa-gear
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              - if can? :update, current_user
                %li
                  = link_to '#', class: 'popover-trigger', data: {target: "#edit-user", toggle: "modal", content: "Edit personal account details", placement: "right", trigger: "hover"} do
                    Edit User Profile
              - if can? :update, current_organization
                %li
                  = link_to '#', class: 'popover-trigger', data: {target: "#edit-org", toggle: "modal", content: "Edit organzation details and departments", placement: "right", trigger: "hover"} do
                    Edit Organization
                %li
                  = link_to :summary, class: 'popover-trigger', data: {content: "Performance indices and metrics", placement: "right", trigger: "hover"} do
                    Analytics
                / %li
                /   = link_to :newsfeed, class: 'popover-trigger', data: {content: "Leaderboard", placement: "right", trigger: "hover"} do
                /     Leaderboard
                %li
                  = link_to dashboard_path(:page => "archive"), remote: request.path == "/dashboard", class: "body-loading popover-trigger", data: {content: "Previously launched, completed, and failed items", placement: "right", trigger: "hover"} do
                    Archive
                %li
                  = link_to manage_users_organization_path(current_organization), remote: true, class: "popover-trigger", data: {content: "Manage departments and members", placement: "right", trigger: "hover"} do
                    Manage Users
          %li.dropdown.hidden
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              .fa.fa-bell
              %span.caret
            %ul.dropdown-menu.notification{:role => "menu"}
              .new
                = sync_new partial: 'notification', resource: PublicActivity::Activity.new, scope:current_user
              - @notifications = current_user.notifications
              - @notifications[0,10].each do |n|
                - activity = n.activity
                = sync partial: 'notification', resource: activity
          %li
            = link_to "Logout", :logout
        - else
          / %li.divider-vertical
          %li
            = link_to '#', data: {target: "#register", toggle: "modal"} do
              Register
          / %li.divider-vertical
          %li
            = link_to '#', data: {target: "#login", toggle: "modal"} do
              Log In
    #navbar-dropdown.pull-left.nav-left
      %ul.nav.navbar-nav.filter-sort
        = render 'layouts/filter_sort'
        %li
          = form_tag search_path, class: "form-inline", remote: (request.path == '/search'), :method => :get do
            .form-group
              .col-xs-10
                .input-group
                  = text_field_tag :query, params[:query], class: "form-control", id: "search", placeholder: "search ..."
                  / %input#search.form-control{:placeholder => "search ...", :type => "text"}
              .col-xs-2.no-padding
                %button.btn.btn-main{:type => "submit"}
                  .fa.fa-search
        / %li.page_title.hidden-xs
        /   %h3= @page_title
