!!!
%html
  %head
    %title Launchboard - Reward Ideas
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    / = javascript_include_tag :defaults
    = include_sync_config
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
    %script{:src => "//load.sumome.com/", "data-sumo-site-id" => "06a6409e43d3b483a09642486524b9763b6bd6cae1afd944bc4629bf263a1d97", :async => "async"}
    / Hotjar Tracking Code
    :javascript
      (function(h,o,t,j,a,r){
         h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
         h._hjSettings={hjid:252597,hjsv:5};
         a=o.getElementsByTagName('head')[0];
         r=o.createElement('script');r.async=1;
         r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
         a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70481221-2', 'auto');
      ga('send', 'pageview');
  %body
    = render partial: 'shared/feedback'
    /= render 'layouts/sidebar'
    .body-wrapper

      = render 'layouts/navbar'


      / - if notice
      /   .alert.alert-warning
      /     %a.close{"data-dismiss" => "alert", href: "#"} ×
      /     = notice

      .content-wrapper
        = yield

    - if current_user.nil?
      = render 'layouts/login_form'
      = render 'layouts/register_form'
    - if current_user && current_organization
      = render 'pages/edit_org'
      = render 'pages/edit_user'
      = render 'pages/dept_management'
      = render 'pages/notification_settings'
      .user_managment_wrapper

    = yield :popups
    = render 'layouts/lightbox'
