!!!
%html
  %head
    %title InThought
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
  %body
    .sidebar
    .body-wrapper
      %nav.navbar.navbar-inverse
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            .navbar-brand
              %a.sidebar-toggler
                .fa.fa-bars
              = link_to root_path do
                = image_tag("//placehold.it/120x40")

            #search.search.search-open
              %form
                %input#search.search-input{:name => "search", :placeholder => "Enter your search term...", :type => "search", :value => ""}/
                %input.search-submit{:type => "submit", :value => ""}/
                %span.sb-icon-search
                  .fa.fa-search

          #navbar-collapse.collapse.navbar-collapse.pull-right
            %ul.nav.navbar-nav.navbar-right
              - if current_user
                %li.divider-vertical
                %li= link_to "Logout", :logout
              - else
                %li.divider-vertical
                %li= link_to "Sign Up", new_user_path
                %li.divider-vertical
                %li= link_to "Login", :login

          .pinned-toggler.pull-right
            %input{:checked => "checked", :name => "my-checkbox", :type => "checkbox"}
      / - if notice
      /   %p.text-center#notice= notice
      .content-wrapper
        = yield
