!!!
%html
  %head
    %title Pin.DoIt
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'flaticon/flaticon.css'
    = stylesheet_link_tag    'flaticon-pack2/flaticon.css'
    = javascript_include_tag 'application'
    = javascript_include_tag :defaults
    = javascript_include_tag Sync.adapter_javascript_url
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
  %body
    .sidebar-icons
      %a.sidebar-toggler
        .icon.fa.fa-bars
        .icon.fa.fa-times-circle-o.hidden
      .navicons
        - if current_user
          = link_to '#' do
            %span.flaticon-home7
          = link_to '#' do
            %span.flaticon-star6
          = link_to '#' do
            %span.flaticon-lock9
          = link_to '#' do
            %span.flaticon-line31

          .logo.brand-link
            = image_tag "pindoit_vert.png"

          = link_to '#', class: "logout-link" do
            %span.flaticon-logout13
        - else
          = link_to '#', data: {target: "#login", toggle: "modal"} do
            %span.flaticon-login17
          = link_to '#', data: {target: "#register", toggle: "modal"} do
            %span.flaticon-create1

    .sidebar
      .user-wrapper
        .user
          = image_tag("profile_default.png")
          - if current_user
            .name
              John Smith
            .username
              (jsmith)
          - else
            .name
              Guest User
            .username
              Please Login
      .sidenav
        - if current_user
          = link_to :dashboard do
            Home
          = link_to '#' do
            My Favoriates
          = link_to '#' do
            Archive
          = link_to '#' do
            Scoreboard

          .brand-link.org
            = image_tag "seeds/ecl_logo2.png"
            %h4 Powered by Pindoit
            %h5 A Verse Software Lab Inc. Solution.

          = link_to :logout, class: "logout-link" do
            Logout
        - else
          = link_to '#', data: {target: "#login", toggle: "modal"} do
            Log In
          = link_to '#', data: {target: "#register", toggle: "modal"} do
            Register

    .body-wrapper
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            .navbar-brand
              / = image_tag "pindoit.png"
              = image_tag "seeds/ecl_logo2.png"


            .nav.navbar-nav

              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  #filter-posts.option
                    ALL
                    %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{href: "#", id: "filter-post-all"} ALL
                  %li
                    %a{href: "#", id: "filter-post-work"} WORK
                  %li
                    %a{href: "#", id: "filter-post-play"} PLAY
                  %li
                    %a{href: "#", id: "filter-post-facility"} FACILITY
                  %li
                    %a{href: "#", id: "filter-post-doit"} DOIT

              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  #sort-posts.option
                    NEWEST
                    %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{href: "#", id: "sort-post-newest"} NEWEST
                  %li
                    %a{href: "#", id: "sort-post-dicussed"} MOST DISCUSSED
                  %li
                    %a{href: "#", id: "sort-post-updated"} MOST UPVOTED

            / #search.search.search-open
            /   %form
            /     %input#search.search-input{:name => "search", :placeholder => "Enter your search term...", :type => "search", :value => ""}/
            /     %input.search-submit{:type => "submit", :value => ""}/
            /     %span.sb-icon-search
            /       .fa.fa-search

          #navbar-collapse.collapse.navbar-collapse.pull-right
            %ul.nav.navbar-nav.navbar-right
              - if current_user
                / %li.divider-vertical
                %li
                  - if request.path == '/search'
                    = form_tag search_path, class: "form-inline", remote: :true, :method => :get do
                      .form-group
                        .input-group
                          = text_field_tag :query, params[:query], class: "form-control", id: "search", placeholder: "search ..."
                          / %input#search.form-control{:placeholder => "search ...", :type => "text"}
                      %button.btn.btn-main{:type => "submit"}
                        .fa.fa-search
                  - else
                    = form_tag search_path, class: "form-inline", :method => :get do
                      .form-group
                        .input-group
                          = text_field_tag :query, params[:query], class: "form-control", id: "search", placeholder: "search ..."
                          / %input#search.form-control{:placeholder => "search ...", :type => "text"}
                      %button.btn.btn-main{:type => "submit"}
                        .fa.fa-search

                %li= link_to "Logout", :logout
              - else
                / %li.divider-vertical
                %li
                  = link_to '#', data: {target: "#register", toggle: "modal"} do
                    Register
                / %li.divider-vertical
                %li
                  = link_to '#', data: {target: "#login", toggle: "modal"} do
                    Log In

      / - if notice
      /   .alert.alert-warning
      /     %a.close{"data-dismiss" => "alert", href: "#"} ×
      /     = notice

      .content-wrapper
        = yield

    = render 'layouts/login_form'
    = render 'layouts/register_form'
    = yield :popups
