!!!
%html
  %head
    %title Pindoit
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'flaticon/flaticon.css'
    = javascript_include_tag 'application'
    / = javascript_include_tag :defaults
    = javascript_include_tag Sync.adapter_javascript_url
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
  %body
    = render 'layouts/sidebar'
    .body-wrapper
      = render 'layouts/navbar'


      / - if notice
      /   .alert.alert-warning
      /     %a.close{"data-dismiss" => "alert", href: "#"} ×
      /     = notice

      .content-wrapper
        = yield

    - if current_user.nil?
      = render 'layouts/login_form'
      = render 'layouts/register_form'
    - if current_user && current_organization
      = render 'pages/edit_org'
      = render 'pages/edit_user'

    = yield :popups
    = render 'layouts/lightbox'

