!!!
%html
  %head
    %title Launchboard - Reward Ideas
    = stylesheet_link_tag 'homepage', media: 'all'
    / = stylesheet_link_tag    'flaticon/flaticon.css'
    / = stylesheet_link_tag    'flaticon-pack2/flaticon.css'
    = javascript_include_tag 'homepage'
    %script{:async => "async", "data-sumo-site-id" => "06a6409e43d3b483a09642486524b9763b6bd6cae1afd944bc4629bf263a1d97", :src => "//load.sumome.com/"}
    -# = csrf_meta_tags
    -# %script{:async => "async", "data-sumo-site-id" => "06a6409e43d3b483a09642486524b9763b6bd6cae1afd944bc4629bf263a1d97", :src => "//load.sumome.com/"}
    = favicon_link_tag 'favicon.png'
  %body
    = render partial: 'shared/feedback'
    = render 'layouts/login_form'
    = render 'layouts/register_form'
    = render 'layouts/feedback_box'
    .page-wrapper
      %header.header-10
        .container
          .row
            .navbar.col-sm-12{:role => "navigation"}
              .navbar-header
                %button.navbar-toggle{:type => "button"}
                %a.brand{:href => "/"}
                  = image_tag 'lb-wordmark.png'
              .navbar-collapse.collapse.pull-right
                %ul.nav.pull-left
                  /%li
                  /  %a{:href => "#price"} Price
                  /%li
                  /  %a{:href => "/contact_us"} Contact Us
                  %li
                    %a{href: '#', data: {target: '#login', toggle: 'modal'}} Log In
                  /%li
                  /  %a{href: "#", data: {target: '#register', toggle: 'modal'}, class: "button"} Sign Up
                  %li
                    %a{href: "mailto:clinton@golaunchboard.com?subject=Book%20Demo&body=Hello%20I'm%20interested%20in%20booking%20a%20personal%20demo%20of%20LaunchBoard.", class: "button"} Request Demo


                / %ul.subnav
                /   %li
                /     %a{:href => "#"} Privacy
                /   %li
                /     %a{:href => "#"} Terms
                /   %li
                /     %a{:href => "#"} Advertise
                /   %li
                /     %a{:href => "#"} Affiliates
                /   %li
                /     %a{:href => "#"} Newsletter
                /   %li
                /     %a{:href => "#"} About
                /   %li
                /     %a{:href => "#"} Contact Us
      = yield
